[Desktop Entry]
Name=RunCompositor
Encoding=UTF-8
Exec=/usr/bin/compositor_runer/run_program.sh
Icon=compositor_runer.svg
StartupNotify=false
Terminal=true
Type=Application
Categories=Utility;
Comment[hu]=Android emulator.
Name[hu]=compositor_runer
